<% if logged_in? %>
  <%= form_for(:message, html: {class: "ui reply form", role: "form"}, url: message_url) do |f| %>
    <div class="field">
      <div class="ui fluid icon input">
        <%= f.text_field :body, placeholder: "Enter a message..." %>
        <%= f.button '<i class="bordered   paper plane icon" title="send"></i>'.html_safe, class: 'message-submit' %>
      </div>
    </div>
  <% end %>
<% end %>