<table class="ui celled table">
  <thead>
  <tr>
    <th>UserName</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  </tbody>
</table>
