<div class="twelve wide column">
  <div class="ui fluid raised card chatbox" >
    <div class="scrolling content" id="scrolling-container">
      <div class="ui  feed " style="overflow-y: scroll; height:400px;" id=<%= "message-container-#{@chat.id}"%>>
        <%= render 'messages' %>
      </div>
    </div>
  </div>
  <div class="extra content">
    <%= render 'direct_messages/new' %>
  </div>
</div>