
<div class="ui large inverted menu">
  <a class="item">
    <%= link_to root_path do %>
      <%= image_tag "favicon.ico",  height: 50%>
    <% end %>
  </a>
  <%= link_to "Chatroom", root_path, class: "item" %>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="item">
      <%= link_to "Log in", login_path, class: "ui primary button" %>
    </div>
  </div>
</div>